
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, 
    -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;

}

main {
    background-size: cover;
    height: 92vh;
    width: auto;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

#texto {
    margin: auto;
    text-align: center;
    color: black;
}

.chicken {
    background-color: grey;
    text-align: center;
    width: 80%;
    margin: auto;
    height: auto;
}

.beef {
    background-color: grey;
    text-align: center;
    width: 80%;
    margin: auto;
    height: auto;
}

.sushi {
    background-color: grey;
    text-align: center;
    width: 80%;
    margin: auto;
    height: auto;

}