@font-face {
    font-family: Netflix;
    src: url(/trabalho7/Trabalho7_files/BebasNeue-Regular.ttf);
  }
  
  
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      
    }
    
    #text {
      display: none;
    }
    
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #f0130e;;
      font-family: sans-serif;
    }
    
    h1 {
      font-size: 56px;
      font-weight: 600;
      color: #ffffff;
      font-family: Netflix;
      margin: 50px 0;
     
    }

    header a.nav-item.nav-link{

    color: #ffffff;
    
    


    }


    
    #movies_container {
      max-width: 80vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
    }
    
    .card__container {
      background-color: white;
      padding: 10px;
    }
    .card__top {
      display: flex;
      justify-content: space-between;
    }
    
    .card__top-image {
      max-width: 200px;
      height: 100px;
    }
    
    .card__top-middle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
      max-width: 45%;
    }
    
    .card__container h2 {
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      font-family: sans-serif;
    }
    
    .card__top-generos {
      overflow: hidden;
      max-width: 200px;
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    
    .card__top-elenco {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    
    .card__top-ratings {
      display: flex;
      flex-direction: column;
    }
    
    .card__top-classificacao--18,
    .card__top-classificacao--16,
    .card__top-classificacao--14,
    .card__top-classificacao--12,
    .card__top-classificacao--10,
    .card__top-classificacao--0 {
      min-width: 30px;
      height: 30px;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      margin-bottom: 5px;
    }
    
    
    
    
    .card__top-classificacao--0 {
      background-color: green;
    }
    
    .card__top-classificacao--16 {
      background-color: red;
    }
    
    .card__top-classificacao--18 {
      background-color: black;
    }
  
    .card__top-classificacao--14{
      background-color: orange;
    }
  
    .card__top-classificacao--12{
      background-color: gold;
    }
  
    .card__top-classificacao--10{
      background-color: rgb(31, 208, 231);
    }
  
  
    
    .card-top__stars {
      display: flex;
      gap: 2px;
    }
    
    .card-top__stars img {
      height: 15px;
      width: 100%;
    }
    
    .card__resumo {
      margin: 20px 0;
    }
    
    .card__semelhantes {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    
    .card__semelhantes div {
      display: flex;
      gap: 5px;
    }
    
    .card__semelhantes img {
      width: 30px;
      height: 30px;
    }
    
    @media screen and (max-width: 1275px) {
      #movies_container {
        grid-template-columns: 1fr;
      }
    
      .card__top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
      }
    
      .card__top-image {
        width: 100%;
        max-width: none;
      }
    }
  
    